.App {
  text-align: center;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.box{
  position: absolute;
  left: 60%;
  background-color: rgb(255, 255, 255);
}
.box th{
  font-size: 30px;
}
.box tbody{
  font-size: 20px;
}
/* .App table{
  width: 90%;
  margin: 20px;
  margin-left: 80px;
}
.App table tr th{
  font-size: 20px;
}
.App table tr td{
  font-size: 20px;
} */
body::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, and Opera */
}
.fonting{
  font-family: 'Roboto', sans-serif;
  line-height: 37px;
  letter-spacing: 0.015em;
  font-size: 23px;
}
@media only screen and (max-width: 768px) {
  .fonting{
    font-size: 20px;
    line-height: 25px;
  }
}
i{
  font-size: 43px;
}