.App {
  text-align: center;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.box{
  position: absolute;
  left: 60%;
  background-color: rgb(255, 255, 255);
}
.box th{
  font-size: 30px;
}
.box tbody{
  font-size: 20px;
}
.App table{
  width: 90%;
  margin: 20px;
  margin-left: 80px;
}
.App table tr th{
  font-size: 20px;
}
.App table tr td{
  font-size: 20px;
}